@font-face {
    font-family: 'Hack Nerd Font';
    src: url('../fonts/HackNerdFont-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Hack Nerd Font';
    src: url('../fonts/HackNerdFont-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }